* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.wrapper {
  width: 940px;
  margin: auto;
}

.navigation {
  display: flex;
  justify-content: space-between;
}
.logo {
  display: block;
  color: #fed136;
  text-decoration: none;
  font-size: 26px;
  font-family: 'Kaushan Script', 'Charmonman Bold', 'Roboto Slab Bold', cursive;
  text-transform: capitalize;
}

.menu {
  width: 480px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.menu li {
  text-transform: uppercase;
}

.menu li a {
  display: block;
  text-decoration: none;
  font-size: 14px;
  line-height: 14px;
  color: #222222;
  font-family: 'Montserrat Bold', 'Roboto Slab Bold', 'PT Sans Bold',
    'Roboto Slab', 'Montserrat', sans-serif;
  transition: color 0.2s linear;
}

.menu a:hover {
  color: #fed136;
}

.masthead {
  padding-top: 45px;
  margin-bottom: 120px;
}

.section-services {
  margin-bottom: 120px;
}

.sub-title {
  text-align: center;
  margin: 0;
  font-family: 'Charmonman', 'Kaushan Script', 'Roboto Slab', 'Montserrat',
    cursive;
  font-size: 24px;
  text-transform: capitalize;
}

.h2 {
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: 'Roboto Slab Bold', 'Montserrat Bold', 'PT Sans Bold', sans-serif;
  font-size: 40px;
  color: #222222;
}

.services-header {
  margin-bottom: 80px;
}

.services-list {
  display: flex;
  justify-content: space-between;
}

.services-item {
  text-align: center;
  list-style: none;
  width: 300px;
}

.services-title {
  font-size: 18px;
  font-family: 'Roboto Slab Bold', 'PT Sans Bold', 'Montserrat Bold', sans-serif;
  color: #222222;
  margin-bottom: 20px;
}

.services-text {
  font-size: 14px;
  color: #777777;
  font-family: 'PT Sans', 'Roboto Slab', 'Montserrat', sans-serif;
}

.services-item:before {
  content: '';
  display: block;
  width: 68px;
  height: 67px;
  border: 3px solid #fed136;
  border-radius: 50px;
  margin: auto;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
}

.icon1:before {
  background-image: url(../img/Icon-Basket.png);
}

.icon2:before {
  background-image: url(../img/Icon-Laptop.png);
}

.icon3:before {
  background-image: url(../img/Icon-Locked.png);
}

.section-contact {
  padding-bottom: 80px;
  width: 1400px;
  margin: auto;
  background-color: #222222;
  background-image: url(../img/Map-Image.png);
  background-position: right 85%;
  background-repeat: no-repeat;
}

.contact-header {
  padding-top: 110px;
  margin-bottom: 75px;
  color: #ffffff;
}

.h2-contact {
  color: #ffffff;
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

input,
textarea {
  width: 455px;
  padding: 0;
  border-radius: 5px;
  text-indent: 20px;
}

::placeholder {
  text-transform: uppercase;
  font-size: 14px;
  font-family: 'Montserrat Bold', 'Roboto Slab Bold', 'PT Sans Bold',
    'Montserrat', 'Roboto Slab', 'PT Sans', sans-serif;
  color: #bbbbbb;
}

input {
  display: block;
  height: 50px;
  margin-bottom: 30px;
}

input:last-child {
  margin-bottom: 0;
}

.btn {
  border-radius: 5px;
  text-transform: uppercase;
  height: 66px;
  width: 240px;
  margin: 30px auto;
  background-color: #fed136;
  font-size: 18px;
  font-family: 'Montserrat Bold', 'Roboto Slab Bold', 'PT Sans Bold',
    'Montserrat', 'Roboto Slab', 'PT Sans', sans-serif;
  color: #eee;
  border: none;
  transition: background-color 0.2s linear;
}

.btn:hover {
  background-color: #338073;
  cursor: pointer;
}

textarea {
  height: 210px;
  line-height: 50px;
}

.name,
.mail,
textarea:invalid {
  border: 3px solid rgb(212, 20, 20);
}

.name,
.mail,
textarea:valid {
  border: 3px solid rgb(22, 214, 22);
}
