@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Roboto:300,400,900');
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  width: 1600px;
}
.wrapper {
  width: 1600px;
  margin: 0 auto;
  padding: 0 15px;
  font-family: 'Roboto', sans-serif;
}
.clearfix::after {
  display: table;
  content: '';
  clear: both;
}
.logo {
  text-transform: uppercase;
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
  color: grey;
  text-decoration: none;
  display: inline-block;
}
.logo::first-letter {
  color: #1abc9c;
  font-weight: 900;
}
.menu {
  float: right;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 10px;
}
.menu li {
  float: left;
  text-transform: uppercase;
  margin-right: 30px;
}
.menu li:last-child {
  margin-right: 0px;
}
.menu li a {
  display: block;
  text-decoration: none;
  font-size: 14px;
  line-height: 14px;
  font-weight: 700;
  color: black;
  font-family: 'Open Sans', sans-serif;
}
.menu a:hover {
  color: #1abc9c;
}
.masthead {
  margin: 0 auto;
  margin-bottom: 42px;
  padding-top: 42px;
  width: 1140px;
}

.slider {
  position: relative;
  height: 589px;
  margin-bottom: 100px;
}

.slider-ctrl {
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  display: inline-block;
  width: 104px;
  height: 104px;
  background-color: #55a18f;
  z-index: 1;
}

.slider-ctrl-prev {
  left: 0;
}

.slider-ctrl-next {
  right: 0;
}

.slides {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slides-item {
  position: relative;
}

.slides-descr {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.slides-descr span {
  font-size: 60px;
  font-weight: 900;
}
.h2 {
  text-align: center;
  margin: 0;
  margin-bottom: 120px;
  text-transform: uppercase;
  font-size: 48px;
  font-weight: 900;
  color: #515151;
}
.h2::after {
  display: block;
  content: '';
  height: 7px;
  width: 164px;
  margin: 0 auto;
  margin-top: 30px;
  background-color: #1abc9c;
}
.collection-list-descr {
  margin-right: 10px;
  position: absolute;
  bottom: 0;
  text-transform: uppercase;
}
.collection-list-descr:last-child {
  margin-right: 0px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.collection {
  padding-bottom: 100px;
  width: 1140px;
  margin: 0 auto;
}
.collection-list {
  margin: 0;
  padding: 0;
}
.collection-list-item {
  float: left;
  margin-right: 30px;
  width: 255px;
  height: 322px;
  list-style: none;
  position: relative;
}
.collection-list li:last-child {
  margin-right: 0;
}
.collection-list-name,
.collection-list-price {
  float: left;
  margin: 0;
  font-size: 18px;
  color: #fff;
  padding-top: 7px;
  padding-bottom: 7px;
  font-weight: 600;
}
.collection-list-name {
  width: 200px;
  background-color: #5c5c5c;
  padding-left: 14px;
  padding-right: 14px;
}
.collection-list-price {
  width: 55px;
  background-color: #8c8c8c;
  text-align: center;
}
.collection-list li:hover .collection-list-name {
  background-color: #1abc9c;
}
.collection-list li:hover .collection-list-price {
  background-color: #7fd9c7;
}
.collection-list-item {
  cursor: pointer;
}

.modal-backdrop {
}

.modal {
  position: absolute;
  top: 100%;
  width: 250px;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.3);
}
