@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i");
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300');
* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: 'Playfair Display', serif;
}
.wrapper {
  width: 900px;
  margin: 0 auto;
  padding-top: 44px;
  padding-bottom: 44px;
}
.pageheader {
  margin: 0 auto;
  margin-bottom: 44px;
}
.navigation {
  font-size: 0px;
  text-align: center;
}
.navigation a {
  display: block;
  color: #626262;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
  text-transform: uppercase;
}
.navigation li:first-child {
  margin-left: 0px;
}
.navigation a:hover {
  color: lightskyblue;
}
.navigation li {
  list-style: none;
  display: inline-block;
  margin-left: 80px;
}
.main {
  width: 900px;
  margin: 0 auto;
}
.hidden {
  visibility: hidden;
}
.content-list {
  margin-bottom: 50px;
}
.content-list-item {
  display: inline-block;
  width: 420px;
  list-style: none;
  margin-left: 56px;
  margin-top: 120px;
}
.content-list-item:nth-child(odd) {
  margin-left: 0px;
}
.content-list-item:first-child {
  margin-top: 0px;
}
.content-list-item:nth-child(6n-4) {
  margin-top: 0px;
}
.underimg {
  font-family: 'Ubuntu', sans-serif;
  color: #b4ad9e;
  font-size: 14px;
  font-weight: 300;
  text-align: left;
  margin-bottom: 20px;
  text-transform: uppercase;
}
h3 {
  margin-bottom: 20px;
  color:  #626262;
  font-size: 30px;
  font-weight: 400;
}
p{
  color:  #626262;
  font-weight: 400;
  font-size: 14px;
}
img {
  margin-bottom: 20px;
}
.btn {
  width: 164px;
  height: 60px;
  background: white;
  font-size: 20px;
  color: #626262;
  border: 1px solid #626262;
  margin: 0 auto;
  display: block;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
